<div id="footer-container">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Services</h3>
          <app-swipe-underline [width]="100" [fillColor]="'white'"></app-swipe-underline>
          <ul>
            <li><i class="bi bi-arrow-right"></i> New Sites</li>
            <li><i class="bi bi-arrow-right"></i> WordPress</li>
            <li><i class="bi bi-arrow-right"></i> SEO</li>
            <li><i class="bi bi-arrow-right"></i> Databases</li>
            <li><i class="bi bi-arrow-right"></i> New Apps</li>
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <h3>Technical Resources Made Easy</h3>
          <app-swipe-underline [width]="250" [fillColor]="'white'"></app-swipe-underline>
          <p class="mt-4">Empowering your digital journey with expert guidance and solutions.</p>
        </div>
        <div class="col-lg-4">
          <h3>Contact Us</h3>
          <app-swipe-underline [width]="130" [fillColor]="'white'"></app-swipe-underline>
          <ul class="mt-4">
            <li><i class="bi bi-telephone"></i> 801-000-0000</li>
            <li><i class="bi bi-envelope"></i> archangelwebsolutions&#64;gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p id="copyright-text"> 2024 Technical Resources Made Easy. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
