<div id="footer-container" class="bg-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Services</h3>
          <app-swipe-underline [width]="100"></app-swipe-underline>
          <ul>
            <li>New Sites</li>
            <li>WordPress</li>
            <li>Domain Transfers</li>
            <li>Commercial Applications</li>
            <li>New Apps</li>
          </ul>
        </div>
        <div class="col-lg-4">Technical Resources Made Easy</div>
        <div class="col-lg-4">
          <h3>Contact Us</h3>
          <app-swipe-underline [width]="130"></app-swipe-underline>
          <br /><br />
          801-000-0000<br />
          archangelwebsolutions&#64;gmail.com<br />
          Lee's Summit, MO, 64082
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="copyright-text">
            <i class="bi bi-c-circle"></i> 2024 Root Design Shop. All rights
            reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
