form {
  display: flex;
}
#navbar-left {
  width: 50%;
  display: ruby;
}
#navbar-right {
  width: 50%;
}
#header-search {
  margin-right: 25px;
}
#navbar-title {
  font-size: 28px;
}
#search-button {
  border-color: deepskyblue;
  color: deepskyblue;
}
#root {
  color: lightblue;
}
#design {
  color: deepskyblue;
}
#shop {
  color: cyan;
}
