<div class="container" id="top-level-container">
  <div class="row">
    <div class="col-lg-6 block-div">
      <h2 class="righteous-regular pop-message">Frustrated by your Website?</h2>
      <h2 class="righteous-regular pop-message other">
        Have an Idea for a New Type of App?
      </h2>
      <h2 class="righteous-regular pop-message">Starting a New Business?</h2>
      <h2 class="righteous-regular pop-message other">
        Need Technical Resources?
      </h2>
      <h2 class="righteous-regular pop-message">
        You've Come to the Right Place
      </h2>
    </div>
    <div class="col-lg-6 block-div" id="frustrated-container">
      <img
        src="../../assets/frustrated.jpg"
        alt="Frustrated Woman at Computer"
        id="frustrated-woman"
      />
    </div>
  </div>
</div>
<app-details></app-details>
